<div ng-controller="projectListCtrl">
	<div class="row">
		<div class="col-xs-12">
			<div class="page-header clearfix gov_tb_padding">
				<h1 class="gov_left">
					公司项目
					<small>
						<i class="icon-double-angle-right"></i>
						列表
					</small>
				</h1>
				<div class="btn-group pull-right gov_right">
					<button class="btn btn-sm btn-purple" ng-click="addProject();">
						<i class="icon-plus bigger-125"></i>
						新增
					</button>
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>项目名称</th>
							<th>项目层级</th>
							<th>创建时间</th>
							<th>操作</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="project in dataList">
							<td>{{project.name}}</td>
							<td>{{project.level}}</td>
							<td>{{project.created_date}}</td>
							<td>
								<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
									<a class="green" ng-click="goEdit(project.id);">
										<i class="icon-pencil bigger-130"></i>
									</a>
									<a class="red" ng-click="confirmDelete(project.id,project.name);">
										<i class="icon-trash bigger-130"></i>
									</a>
								</div>
								<div class="visible-xs visible-sm hidden-md hidden-lg">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
											<i class="icon-caret-down icon-only bigger-120"></i>
										</button>

										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
											<li>
												<a ng-click="goEdit(project.id);" class="tooltip-success" data-rel="tooltip" title="Edit">
													<span class="green">
														<i class="icon-edit bigger-120"></i>
													</span>
												</a>
											</li>
											<li>
												<a ng-click="confirmDelete(project.id,project.name);" class="tooltip-error" data-rel="tooltip" title="Delete">
													<span class="red">
														<i class="icon-trash bigger-120"></i>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>